
.header{
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 1rem;
  background-color: #ffffff;
  h3{
    font-size: 20px;
  }
  h4{
    color: rgba(0,0,0,0.7);
  }
}